:root {
    /* PRIMARY (azul ascuro) */
    --bs-primary-dark-rgb: 10, 80, 180;
  
    /* SECONDARY (gris ascuro) */
    --bs-secondary-dark-rgb: 80, 87, 95;
  
    /* SUCCESS (verde oscuro) */
    --bs-success-dark-rgb: 18, 100, 60;
  
    /* DANGER (rojo oscuro) */
    --bs-danger-dark-rgb: 132, 32, 41;
  
    /* WARNING (amarillo oscuro) */
    --bs-warning-dark-rgb: 200, 140, 5;
  
    /* INFO (celeste oscuro) */
    --bs-info-dark-rgb: 10, 150, 190;
  
    /* LIGHT (claro oscuro) */
    --bs-light-dark-rgb: 200, 200, 200;
  
    /* DARK (oscuro x 2) */
    --bs-dark-dark-rgb: 20, 22, 25;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.poke-logo {
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

.card {
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(var(--bs-warning-rgb), 0.1) 100%);
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 8px gray;
}

.fire-card {
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(var(--bs-danger-rgb), 0.1) 100%);
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 8px gray;
}

.water-card {
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(var(--bs-primary-rgb), 0.1) 100%);
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 8px gray;
}

.grass-card {
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(var(--bs-success-rgb), 0.1) 100%);
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 8px gray;
}

.card-body {
    padding-bottom: 0;
}

.card-text {
    font-size:large;
    font-weight: bold;
    margin-bottom: 4px;
}

.fire-card .text-body-secondary {
    color: rgba(var(--bs-danger-dark-rgb), 1) !important;
}

.water-card .text-body-secondary {
    color: rgba(var(--bs-primary-dark-rgb), 1) !important;
}

.grass-card .text-body-secondary {
    color: rgba(var(--bs-success-dark-rgb), 1) !important;
}

.type-card .text-body-secondary {
    color: rgba(var(--bs-warning-dark-rgb), 1) !important;
}

.card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
}

.card-footer {
    display: flex;
    justify-content: center;
    border-top: none;
    background-color: transparent;
    padding: 0 var(--bs-card-cap-padding-x) var(--bs-card-cap-padding-x) var(--bs-card-cap-padding-x);
}

.img-button {
    border-width: 0;
    background: transparent;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}